In [1]:
import pandas as pd

In [50]:
train_df = pd.read_csv('../data/train.csv')

In [51]:
train_df.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no

In [52]:
train_df.drop(columns=['state','account_length','area_code'], inplace= True)

In [53]:
train_df.head()

,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no

In [54]:
train_df.isnull().sum()

international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
dtype: int64

In [55]:
train_df.describe()

,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000
mean,7.631765,180.259600,99.907294,30.644682,200.173906,100.176471,17.015012,200.527882,99.839529,9.023892,10.256071,4.426353,2.769654,1.559059
std,13.439882,54.012373,19.850817,9.182096,50.249518,19.908591,4.271212,50.353548,20.093220,2.265922,2.760102,2.463069,0.745204,1.311434
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,143.325000,87.000000,24.365000,165.925000,87.000000,14.102500,167.225000,86.000000,7.522500,8.500000,3.000000,2.300000,1.000000
50%,0.000000,180.450000,100.000000,30.680000,200.700000,100.000000,17.060000,200.450000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000
75%,16.000000,216.200000,113.000000,36.750000,233.775000,114.000000,19.867500,234.700000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000
max,52.000000,351.500000,165.000000,59.760000,359.300000,170.000000,30.540000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [56]:
train_df['international_plan'].replace({'no':0,'yes':1}, inplace=True)
train_df['voice_mail_plan'].replace({'no':0,'yes':1}, inplace=True)
train_df['churn'].replace({'no':0,'yes':1}, inplace=True)

In [57]:
train_df.head()

,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
1,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
2,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
3,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
4,0,1,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0

In [58]:
train_df['minutes'] = train_df['total_day_minutes'] + train_df['total_eve_minutes'] + train_df['total_night_minutes']
train_df['calls'] = train_df['total_day_calls'] + train_df['total_eve_calls'] + train_df['total_night_calls']
train_df['charge'] = train_df['total_day_charge'] + train_df['total_eve_charge'] + train_df['total_night_charge']

In [59]:
train_df.head()

,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn,minutes,calls,charge
0,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0,611.5,329,55.54
1,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0,527.2,328,59.00
2,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0,558.2,248,65.02
3,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0,501.9,356,49.36
4,0,1,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0,779.3,314,76.28

In [60]:
train_df.drop(columns=['total_day_minutes','total_eve_minutes','total_night_minutes'],inplace=True)
train_df.drop(columns=['total_day_calls','total_eve_calls','total_night_calls'],inplace=True)
train_df.drop(columns=['total_day_charge','total_eve_charge','total_night_charge'],inplace=True)

In [61]:
train_df.head()

,international_plan,voice_mail_plan,number_vmail_messages,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn,minutes,calls,charge
0,0,1,26,13.7,3,3.70,1,0,611.5,329,55.54
1,0,0,0,12.2,5,3.29,0,0,527.2,328,59.00
2,1,0,0,6.6,7,1.78,2,0,558.2,248,65.02
3,1,0,0,10.1,3,2.73,3,0,501.9,356,49.36
4,0,1,24,7.5,7,2.03,3,0,779.3,314,76.28

In [62]:
train_df.drop(columns=['total_intl_minutes','total_intl_calls','total_intl_charge'],inplace=True)

In [63]:
train_df.head()

,international_plan,voice_mail_plan,number_vmail_messages,number_customer_service_calls,churn,minutes,calls,charge
0,0,1,26,1,0,611.5,329,55.54
1,0,0,0,0,0,527.2,328,59.00
2,1,0,0,2,0,558.2,248,65.02
3,1,0,0,3,0,501.9,356,49.36
4,0,1,24,3,0,779.3,314,76.28

In [64]:
y = train_df["churn"]

In [65]:
X = train_df.drop("churn", axis = 1)

In [66]:
X

,international_plan,voice_mail_plan,number_vmail_messages,number_customer_service_calls,minutes,calls,charge
0,0,1,26,1,611.5,329,55.54
1,0,0,0,0,527.2,328,59.00
2,1,0,0,2,558.2,248,65.02
3,1,0,0,3,501.9,356,49.36
4,0,1,24,3,779.3,314,76.28
...,...,...,...,...,...,...,...
4245,0,0,0,0,645.8,237,62.35
4246,0,0,0,3,495.3,260,49.77
4247,0,0,0,1,492.9,331,51.24
4248,0,1,40,2,756.2,369,72.42
4249,0,1,34,0,551.3,306,51.67

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
X.shape, y.shape

((4250, 7), (4250,))

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.8)

In [70]:
X_train.shape

(3400, 7)

In [71]:
from sklearn.ensemble import RandomForestClassifier

In [72]:
model = RandomForestClassifier()

In [73]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [74]:
y_pred = model.predict(X_test)

In [75]:
# Metric:  F1 score, Accuracy, Precision, Recall, ... 

from sklearn.metrics import f1_score, accuracy_score

In [76]:
f1 = f1_score(y_test, y_pred)
acc = accuracy_score(y_test,y_pred)

In [77]:
f1,acc

(0.7319587628865979, 0.9388235294117647)

In [ ]:
# Accuracy =  Tong so lan du doan dung / tong so sample

In [79]:
import mlflow
from urllib.parse import urlparse

mlflow.set_tracking_uri('http://localhost:1234')
mlflow.set_experiment('CustomerChurn01')

with mlflow.start_run():
    model = RandomForestClassifier()
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    f1 = f1_score(y_test, y_pred)
    acc = accuracy_score(y_test,y_pred)

    mlflow.log_metric("F1 Score",f1)
    mlflow.log_metric("Accuracy Score", acc)

    tracking_url_type_store = urlparse(mlflow.get_artifact_uri()).scheme

    if tracking_url_type_store != "file":
        mlflow.sklearn.log_model(model,"model",registered_model_name="CustomerChurnModel")
    else:
        mlflow.sklearn.load_model(model)

Registered model 'CustomerChurnModel' already exists. Creating a new version of this model...
2022/10/24 09:51:25 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: CustomerChurnModel, version 2
Created version '2' of model 'CustomerChurnModel'.